{% extends '@layout/default.html.twig' %}

{% block title %}View{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('/view.css') }}">
{% endblock %}

{% block javascript %}
<script>
    window.app = {
        geojson: {{ geojson | json_encode() | raw }}
    };
</script>
<script src="{{ asset('/view.js') }}"></script>
{% endblock %}

{% block content %}
<h1>View &amp; Select : {{ current }} / {{ count }}</h1>
<div class="progress mb-3" style="height: 3px;">
    <div class="progress-bar" role="progressbar" style="width: {{ (current / count * 100) | round }}%" aria-valuenow="{{ (current / count * 100) | round }}" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div class="row">
    <div class="col-8">
        <div id="map" style="min-height: 75vh;"></div>
    </div>
    <div class="col-4">
        <div class="btn-toolbar justify-content-center">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="{{ path('view', {i: current+1}) }}" class="btn btn-outline-secondary">
                    <i class="far fa-times-circle"></i>
                    Skip
                </a>
                <a href="{{ path('save', {i: current}) }}" class="btn btn-{{ warnings | length > 0 ? 'warning' : 'success' }}">
                    <i class="far fa-check-circle"></i>
                    Select
                </a>
            </div>
        </div>
        <hr>

        <p class="h5">
            <i class="far fa-file-code"></i>
            {{ filename }}
        </p>
        {% if warnings | length > 0 %}
        <div class="alert alert-warning small">
            <strong>Warning :</strong>
            <ul class="list-unstyled mb-0">
                {% for warning in warnings %}
                <li>{{ warning }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <hr>
        <div class="text-center">
            {{ filesize }} Ko &bull; {{ featuresCount }} feature(s)
        </div>
        {% if geojson.title is defined or geojson.description is defined %}
        <hr>
        <div>
            {% if geojson.title is defined %}
            {{ geojson.title }}
            {% endif %}
            {% if geojson.description is defined %}
            <div class="text-info small">{{ geojson.description }}</div>
            {% endif %}
        </div>
        {% endif %}
        {% if geojson.legend is defined %}
        <hr>
        <strong>Legend</strong>
        <ul class="list-unstyled">
            {% for item in geojson.legend %}
            <li>
                <i class="fas fa-circle" style="color: {{ item.color }}"></i>
                {{ item.text }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>


{% endblock %}
